:root {
  --bg-color: black;
  --color: white;
  --border-width: 0.03em;
  --border-color: lightgrey;
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.no-ui {
  pointer-events: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
  pointer-events: all;
}

/* #region navbar */
.header {
  height: 10%;
  width: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--color);
}

.footer {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1em;
  background-color: var(--bg-color);
  color: var(--color);
}

.menu-items {
  list-style: none;
  display: inherit;
  font-size: inherit;
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
  padding: 0 2em;
}

.menu-items > li {
  font-size: 2em;
  user-select: none;
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  padding: 0.25em 2em;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: rgba(77, 77, 77, 0.5);
}

/* #endregion */

.social {
  padding: 0 0.5em;
}

.container {
  height: 80%;
  width: 100%;
  overflow: auto;
  position: relative;
  font-family: "Redressed", cursive;
  background-color: var(--color);
}

.main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  padding: 1em;
  font-size: 2em;
  color: var(--bg-color);
  background-color: transparent;
}

.main-tile-fadein {
  display: table;
  animation: fade-in 0.5s ease-in-out 0s 1;
}

.main-tile-fadeout {
  animation: fade-out 0.5s ease-in-out 0s 1;
}

.skill-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.skill-container > div {
  flex: 1;
}

.primary-skills {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 190px 190px;
  column-gap: 5px;
  row-gap: 5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.primary-skill {
  position: relative;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.primary-skill:hover {
  // box-shadow: 0 0 0.5em 0.02em #aeadad;
  transform: scale(1.01);
}

.skill-circle {
  height: 100%;
  width: 100%;
}

.skill-legend {
  user-select: none;
}

.secondary-skills {
  width: 100%;
  height: 100%;
}

.exp-container {
  padding: 1em;
  user-select: none;
  opacity: 0;
}

.show-animation {
  animation: show-animae 0.8s ease-in-out 0s 1 forwards;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  border-radius: var(--border-radius);
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner:active,
.flip-card-inner:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.flip-the-card {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  // background-color: #bbb;
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.circle-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.2em;
}

.details-tbl {
  width: 100%;
  height: 100%;
  background-color: var(--color);
  border: var(--border-color);
  border-collapse: collapse;
  font-size: 0.75em;
}

tr {
  border-top: 1px solid var(--border-color);
}

tr + tr {
  border-top: 1px solid var(--border-color);
}

td {
  border-left: 1px solid var(--border-color);
}

td + td {
  border-left: 1px solid var(--border-color);
}

.services-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.products-wrapper {
  display: grid;
  grid-template-columns: 220px 220px;
  grid-template-rows: 190px;
  column-gap: 5px;
  row-gap: 5px;
}

.services-section {
  opacity: 0;
  transition: opacity 0.05s ease-in-out;
}

.product {
  border-radius: 5px;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.show-services {
  animation: show-animae 1.5s ease-in-out 0s 1 forwards;
}

// small screen's common styles
@media screen and (max-width: 1000px) {
  .hamburger-menu {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    display: block;
    z-index: 2;
  }

  .hamburger-menu > span {
    display: block;
    width: 100%;
    height: 0.25em;
    background-color: var(--color);
    border: 0 solid transparent;
    margin-bottom: 0.25rem;
    transition: transform 400ms, opacity 300ms;
    transform-origin: center;
  }

  .menu-open > span:nth-child(1) {
    transform: translateY(600%);
    opacity: 0;
  }

  .menu-open > span:nth-child(2) {
    transform: rotate(130deg) translate(8%, 0%);
  }

  .menu-open > span:nth-child(3) {
    transform: rotate(45deg) translate(-20%, -70%);
  }

  .menu-items {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    z-index: -2;
    transition: opacity 0.5s ease-in-out;
    background-color: var(--bg-color);
  }

  .menu-open ~ .menu-items {
    opacity: 1;
    pointer-events: all;
    z-index: 1;
  }

  .main {
    padding: 0.5em;
  }

  .services-wrapper {
    flex-direction: column;
  }

  .services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
  }

  .products-wrapper {
    grid-template-columns: 220px;
    grid-template-rows: 190px;
  }
}

// tablet styles
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .primary-skills {
    grid-template-columns: 220px 220px;
    grid-template-rows: 190px 190px 190px;
    justify-content: center;
  }

  .skill-container {
    flex-direction: column;
  }

  .products-wrapper {
    grid-template-columns: 220px 220px;
    grid-template-rows: 190px;
  }
}

// mobile screens
@media screen and (max-width: 500px) {
  .primary-skills {
    grid-template-columns: 220px;
    grid-template-rows: 190px 190px 190px 190px 190px 190px;
    justify-content: center;
  }

  .skill-container {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-10%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
    display: block;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    display: block;
    transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    transform: translate(10%, 0%) rotate(90deg);
    display: none;
  }
}

@keyframes show-animae {
  to {
    opacity: 1;
  }
}
