:root {
  --bg-color: black;
  --color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.no-ui {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.clickable {
  cursor: pointer;
  pointer-events: all;
}

/* #region navbar */
.header {
  height: 10%;
  width: 100%;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--color);
}

.footer {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1em;
  background-color: var(--bg-color);
  color: var(--color);
}

.menu-items {
  list-style: none;
  display: inherit;
  font-size: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /* Default */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 2em;
}

.menu-items > li {
  font-size: 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  /* Default */
  list-style-type: none;
  padding: 0.25em 2em;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: rgba(77, 77, 77, 0.5);
}

/* #endregion */
.social {
  padding: 0 0.5em;
}

.container {
  height: 80%;
  width: 100%;
  overflow: auto;
  position: relative;
  font-family: "Redressed", cursive;
}

.main {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  padding: 1em;
  font-size: 2em;
  background-color: var(--color);
  color: var(--bg-color);
}

.main-tile-fadein {
  display: table;
  -webkit-animation: fade-in 0.5s ease-in-out 0s 1;
          animation: fade-in 0.5s ease-in-out 0s 1;
}

.main-tile-fadeout {
  -webkit-animation: fade-out 0.5s ease-in-out 0s 1;
          animation: fade-out 0.5s ease-in-out 0s 1;
}

.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.skill-container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.primary-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 220px 220px;
      grid-template-columns: 220px 220px 220px;
  -ms-grid-rows: 190px 190px;
      grid-template-rows: 190px 190px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.primary-skill {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: var(--color);
  border-radius: 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.03em solid lightgrey;
  cursor: pointer;
}

.primary-skill:hover {
  -webkit-box-shadow: 0 0 0.5em 0.02em #aeadad;
          box-shadow: 0 0 0.5em 0.02em #aeadad;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.skill-circle {
  height: 100%;
  width: 100%;
}

.skill-legend {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.secondary-skills {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .hamburger-menu {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    display: block;
    z-index: 2;
  }
  .hamburger-menu > span {
    display: block;
    width: 100%;
    height: 0.25em;
    background-color: var(--color);
    border: 0 solid transparent;
    margin-bottom: 0.25rem;
    -webkit-transition: opacity 300ms, -webkit-transform 400ms;
    transition: opacity 300ms, -webkit-transform 400ms;
    transition: transform 400ms, opacity 300ms;
    transition: transform 400ms, opacity 300ms, -webkit-transform 400ms;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .menu-open > span:nth-child(1) {
    -webkit-transform: translateY(600%);
            transform: translateY(600%);
    opacity: 0;
  }
  .menu-open > span:nth-child(2) {
    -webkit-transform: rotate(130deg) translate(8%, 0%);
            transform: rotate(130deg) translate(8%, 0%);
  }
  .menu-open > span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-20%, -70%);
            transform: rotate(45deg) translate(-20%, -70%);
  }
  .menu-items {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    pointer-events: none;
    z-index: -2;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    background-color: var(--bg-color);
  }
  .menu-open ~ .menu-items {
    opacity: 1;
    pointer-events: all;
    z-index: 1;
  }
  .main {
    padding: 0.5em;
  }
  .primary-skills {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .skill-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(-10%, 0%);
            transform: translate(-10%, 0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    display: block;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translate(-10%, 0%);
            transform: translate(-10%, 0%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    display: block;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    display: block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(10%, 0%) rotate(90deg);
            transform: translate(10%, 0%) rotate(90deg);
    display: none;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    display: block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(10%, 0%) rotate(90deg);
            transform: translate(10%, 0%) rotate(90deg);
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */