<div class="footer-wrapper">
    <div>
        <span class="head">Phone</span>
        <span class="desc">+91&nbsp;77605&nbsp;79218</span>
    </div>
    <div>
        <span class="head">Email</span>
        <span class="desc">richrd77&#64;gmail.com</span>
    </div>
    <div>
        <span class="head">Follow</span>
        <span class="desc">LinkedIn, Github,Insta</span>
    </div>
    <div>
        <span class="head do-not">&copy;&nbsp;2020&nbsp;By,&nbsp;Richard Prakash</span>
        <span class="desc">inspired by wix design</span>
    </div>
</div>