<div class="footer-wrapper">
    <div>
        <span class="head">Phone</span>
        <span class="desc"><a href="tel:+917760579218">+91&nbsp;77605&nbsp;79218</a></span>
    </div>
    <div>
        <span class="head">Email</span>
        <span class="desc"><a href="mailto:richrd77@gmail.com">richrd77&#64;gmail.com</a></span>
    </div>
    <div>
        <span class="head">Follow</span>
        <span class="desc">LinkedIn, Github,Insta</span>
    </div>
    <div>
        <span class="head do-not">&copy;&nbsp;2020&nbsp;By,&nbsp;Richard Prakash</span>
        <span class="desc">inspired by wix design</span>
    </div>
</div>