<div class="header-wrapper">
    <div class="name-logo">
        <img src="assets/logo/logo-accent.png">
        <span class="name">Richard Prakash</span>
        <span class="designation">Senior fullstack developer</span>
    </div>
    <button class="ham" (click)="ShowMenu($event)">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav #na>
        <ul>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="services">Services</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="contact">Contact</a></li>
        </ul>
    </nav>
</div>