$color: black;
$secondary-color: #006094;

header {
    display: flex;
    justify-content: space-evenly;
    padding: 0 2em;
    -webkit-user-select: none;
    user-select: none;
    height: 75px;
    > a {
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color;
        cursor: pointer;
        > span {
            font-size: 22px;
            // text-shadow: 0 0 10px $color;
            margin-left: 20px;
            cursor: pointer;
        }
        > svg#svg8 {
            height: 50px;
            width: 50px;
            > g#layer1 {
                > ellipse#path833 {
                    opacity: 1;
                    fill-opacity: 0;
                    fill-rule: evenodd;
                    stroke: $color;
                    stroke-width: 20;
                    filter: drop-shadow(0 0 5px $color);
                }
                > ellipse#path833-6 {
                    opacity: 1;
                    fill-opacity: 0;
                    fill-rule: evenodd;
                    stroke: $color;
                    stroke-width: 20;
                    filter: drop-shadow(0 0 5px $color);
                }
                > path#path850 {
                    fill: none;
                    fill-opacity: 1;
                    fill-rule: evenodd;
                    stroke: $color;
                    stroke-width: 7;
                    filter: drop-shadow(0 0 3px $color);
                }
            }
        }
    }
    > nav {
        display: flex;
        align-items: center;
        > ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            > li {
                margin-left: 2em;
                border-left: 1px solid $color;
                padding-left: 2em;
                cursor: pointer;
                // text-shadow: 0 0 10px $color;
                &:hover {
                    // text-shadow: 0 0 10px $secondary-color;
                    color: $secondary-color;
                }
                > a {
                    color: $color;
                    text-decoration: none;
                    cursor: pointer;
                }
                &:nth-child(1) {
                    border-left: transparent;
                }
            }
        }
    }
}
