<header>
    <a routerLink="">
        <svg class="logo" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 210 297" version="1.1" id="svg8" inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)" sodipodi:docname="logo.svg">
            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
                <ellipse class="ellipse" id="path833" cx="82.945824" cy="145.96945" rx="77.057701" ry="89.5606"/>
                <ellipse class="ellipse" id="path833-6" cx="81.941689" cy="101.06374" rx="58.017212" ry="43.602871"/>
                <path sodipodi:type="spiral" class="stick" id="path850" sodipodi:cx="165.55356" sodipodi:cy="-107.44275" sodipodi:expansion="1" sodipodi:revolution="1.03819" sodipodi:radius="21.166666" sodipodi:argument="-8.0939369" sodipodi:t0="0" d="m 165.55356,-107.44275 c -0.72882,-2.97881 3.6558,-2.45208 4.95097,-1.21135 3.50985,3.36229 1.00889,8.953769 -2.52827,11.113301 -6.32714,3.862896 -14.2864,-0.06485 -17.27563,-6.267891 -4.3868,-9.10322 1.12776,-19.7068 10.00752,-23.43796 1.55094,-0.65168 3.18274,-1.10788 4.8454,-1.36277" transform="matrix(1.3292819,0,0,-5.2730659,-23.862019,-447.81372)"/>
            </g>
        </svg>
        <span class="neon-hover" data-text="Richard Prakash">Richard Prakash</span>
    </a>
    <nav>
        <ul>
            <li><a class="neon-hover" data-text="Work" routerLink="/work">Work</a></li>
            <li><a class="neon-hover" data-text="Stack" routerLink="/stack">Stack</a></li>
            <li><a class="neon-hover" data-text="Contact" routerLink="contact">Contact</a></li>
        </ul>
    </nav>
</header>