<section class="home">
    <div class="home-img">
        <img src="https://avatars.githubusercontent.com/u/58258370" alt="Richard Prakash avatar">
    </div>
    <summary class="home-about neon">
        <h1>Hello</h1>
        <p>My Name is <strong>Richard Prakash</strong> and I am a software Engineer with 8 years of experience. I
            develop or create apps (web, mobile or windows), currently i am working in a danish Financial corporation. I
            teach programming to young minds in my spare time</p>
        <div>
            <a class="neon-btn" routerLink="work">View My Work</a><a class="neon-btn" routerLink="stack">View My Skills</a>
        </div>
    </summary>
</section>