<footer>
    <div class="wrapper"><span class="key neon" data-text="Phone">Phone</span><span class="value neon" data-text="+91-9986256351">+91-9986256351</span></div>
    <div class="wrapper"><span class="key neon" data-text="Email">Email</span><span class="value neon" data-text="richrd77@gmail.com">richrd77@gmail.com</span></div>
    <div class="wrapper"><span class="key neon" data-text="Follow Me">Follow Me</span><span class="value neon" data-text="Github">Github</span></div>
    <div class="wrapper"><span class="value neon" data-text="developed by">developed by</span><span class="value neon" data-text="richard">richard</span></div>
</footer>