$color: black;
$secondary-color: #006094;

footer {
    height: 75px;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // text-shadow: 0 0 10px $color;
    > div.wrapper {
        display: flex;
        flex-direction: column;
        > span.key {
        }
        > span.value {
            font-family: lean-font;
        }
    }
}

